<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="color-scheme" content="light dark" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>flikt fiirnd</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<form id="form" action="">
	<p>Enter stuff below. All client-side btw</p>
	<p><textarea id="ins" cols="69" rows="5"></textarea></p>
	<p>
		<button id="but" @click.prevent="run">Find matches</button>
		<input type="reset" />
	</p>
	<output id="out">
		<!-- <pre>{{ins}}</pre> -->
		<!-- <pre>{{conflicts}}</pre> -->
		<table>
		<colgroup>
			<col width="20" />
			<col width="140" />
			<col width="140" />

			<col width="140" />

			<col width="40" align="right" />
			<col width="40" align="right" />
		</colgroup>
		<thead>
			<tr>
				<th><!-- # --></th>
				<th>Transformed</th>
				<th>Pronunciation</th>
				<th>Word</th>
				<th colspan="2">Frequency</th>
			</tr>
		</thead>
		<tbody>
		<template v-for="([transformedPron, bin], index) in ins">
		<template v-for="(group, originalPron, index2) in bin">
		<tr v-for="(match, index3) in group" :set="k2 = Object.keys(group).length" :class="{index2: !index2, index3: !index3}">
			<!-- <td v-if="!index2" :rowspan="k">{{bin}}</td> -->
			<!-- <td class="n" v-if="!index2 && !index3" :rowspan="Object.values(bin).map((x)=>x.length).reduce((a,b)=>a+b,0)">{{index}}</td> -->
			<!-- <td class="n" v-if="!index3" :rowspan="k2" style="font-size: smaller;">{{index+1}}.{{index2+1}}<!-- {{index3+1}}. -></td> -->

			<td class="n" v-if="!index2 && !index3" :rowspan="Object.values(bin).map((x)=>x.length).reduce((a,b)=>a+b,0)">{{index+1}}</td>
			<th class="t" v-if="!index2 && !index3" :rowspan="Object.values(bin).map((x)=>x.length).reduce((a,b)=>a+b,0)"><cite>{{ transformedPron }}</cite></th>

			<td v-if="!index3" :rowspan="k2"><cite>/{{ originalPron }}/</cite></td>

			<td class="n" :set="f = formatWord(match)" :style="f.style">
				{{ match.word }}<sub v-if="match.subscript">{{ match.subscript }}</sub>
			</span></td>
			<td class="n r" :style="f.style">{{ f.freq1 }}</td>
			<td class="n r" :style="f.style">
				<template v-if="f.freq1">
					10<sup>−{{ f.log.toFixed(1) }}</sup><!-- ˙¯- -->
				</template>
				<template v-else>0</template>
			</td>
		</tr>
		</template>
		</template>
		</tbody>
		</table>
	</output>
</form>

<!-- <script src="https://unpkg.com/petite-vue" defer init></script> -->
<!-- <script src="petite-vue.js" defer init></script> -->
<script src="vue.global.js"></script>

<script src="en_US.js" async></script>
<script src="freq.js" async></script>
<script src="sample-inputs.js"></script>
<script src="script.js"></script>
</body>
</html>
